<div class="container">
    <div class="circle mt-4 mb-5 shadow " id="roundedButton"
         onclick=openDoor()><i style="font-size: 36px;" class="fa-solid fa-door-open"></i></div>

    <div class="mt-4 me-3 ms-3">
        <div class="row">
            <button id="changeButton" type="button" class="btn btn-primary col" onclick=change()>Chuyển chế độ</button>
            <label id="labelMode" name="labelMode" class="labelMode col" style="display: flex; justify-content: center; align-self: center;font-weight: bold;">{{label}}</label>
        </div>
        <div class="row mt-4">
            <label for="" class="col-4"> Đổi mật khẩu</label>
            <div class="col-8 line"></div>
        </div>
        <div class="row mt-4">
            <button class="col-4 btn btn-primary" id="showpassBtn" onclick=showPassword()>Hiện</button>
            <div class="col-2"></div>
            <div class="col-6">
                <label for="" style="display: flex" id="password">Mật khẩu hiện tại</label>
            </div>
        </div>
        <div class="row mt-4 border rounded shadow ">
            <input type="text" id="inputPassword">
        </div>
        <div class="row mt-4">
            <button type="button" class="btn btn-primary col" onclick=changePassword()>Đổi mật khẩu</button>
        </div>
        <div class="row mt-4">
            <label for="" class="col-2">Log</label>
            <div class="col-10 line"></div>
        </div>
        <div class="row mt-4 border rounded shadow " >
            <textarea name="" id="" cols="30" rows="4" readonly></textarea>
        </div>
    </div>

</div>
