<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid container" style="justify-content: center; font-size: 100px" >
        <a class="navbar-brand" href="/">Auto Door in the nutshell</a>
    </div>
</nav>
